@model List<OrderDetailViewModel>  

@{
    ViewData["Title"] = "Order Details";
}

<table class="table table-sm">
    <thead>
        <tr>
           
            <th>OrderId</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
       
        @foreach (var orderDetail in Model)
        {
           
            @foreach (var product in orderDetail.Products)
            {
               
                <tr>
                    
                    <td>@orderDetail.OrderId</td>
                    <td>@product.ProductName</td>
                    <td>@product.Quantity</td>
                    <td>Rs. @product.Price</td>
                    <td>Rs. @product.TotalPrice</td>
                    <td>
                        <a href="@Url.Action("Delete", "OrderDetail", new { id = orderDetail.OrderId })" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<!-- Create Order Detail button -->
<a asp-action="Create" class="btn btn-primary w-100 mt-2">Create Order Detail</a>

<!-- Back to List button (if applicable) -->
<a asp-action="Index" class="btn btn-secondary w-100 mt-2">Back to List</a>
