    
<form asp-action="Create" method="post">
<table class="table table-sm">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total Price</th>
                <th>Payment Method</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.Products != null)
            {
                @foreach (var product in ViewBag.Products)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>@product.Quantity</td>
                        <td>Rs. @product.Price</td>
                        <td>Rs. @product.Total</td>
                        <td>@ViewBag.PaymentMethod</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <input type="hidden" name="PaymentMethod" value="@ViewBag.PaymentMethod" />


    <div class="d-flex justify-content-between">
        <strong>Total Price</strong>
        <strong>Rs. @ViewBag.Amount</strong>
    </div>
    <input type="hidden" name="Amount" value="@ViewBag.Amount" />
 
    <button type="submit" class="btn btn-success w-100 mt-3">Create Payment</button>
</form>